* {
  border: none;
  margin: 0;
  box-sizing: border-box;
}

label {
  display: block;
  padding-bottom: 32px;
}

input {
  border: 1px solid #444;
}

td {
  padding: 8px;
  border: 1px solid #444;
}
